body {
    background: #f8f9fa;
}

.content {
    font-family: Mulish,source sans pro,sans-serif;
    background: #f8f9fa;
    margin-top: 84px;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
    width: 90%;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    width: 45%;
}

img {
    height: 50%;
}

.table {
    background: #fff;
    border-radius: 3px;
    top: 48px;
    margin-left: 18px;
    width: 50%;
    max-width: 739px;
    text-align: center;
    z-index: 1;
}

.control {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    padding: 0 30px;
    border-top: 30px solid #fff;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    color: #1f2125;
}

p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3c3c3c;
}

.form {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    
}

.type {
    width: 50%;
}

.car {
    height: 35px;
    font-weight: 600;
    font-size: 20px;
    color: #1464f4;
    border-bottom: 4px solid #1464f4;
}

.motorbike {
    border-bottom: 4px solid #d9e1e2;
    height: 35px;
}

a {
    
    font-weight: 600;
    font-size: 20px;
    color: #1f2125;
}

.details {
    text-align: initial;
    margin-bottom: 30px;
}

span {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3c3c3c;
    text-transform: uppercase;
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;
    height: 56px;
    
}

select {
    display: flex;
    width: 100%;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden!important;
    padding-bottom: 6px;
    align-items: center;
}

.Guide {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
}

.showroom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column  ;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#City {
    width: 290px;
}

#showroom {
    width: 290px;
}

#scheduleDate {
    width: 285px;
    border: 1px solid #e4e4e4;
}

#scheduleTime {
    width: 290px;
}

#attend {
    color: #e4e4e4;
}

#Name {
    width: 285px;
    border: 1px solid #e4e4e4;
}

#phone {
    width: 282px;
    border: 1px solid #e4e4e4;
}

#email {
    width: 285px;
    margin-top: 10px;
    height: 50px;
    border: 1px solid #e4e4e4;
}

.noted {
    width: 100%;
    height: 56px;
    margin-top: 10px;
    border: 1px solid #e4e4e4;
}

.footer {
    padding: 30px;
}

button {
    background: #2866da;
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
    height: 50px;
    color: #eaebf0;
    border-radius: 3px;
}

.hotline {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 140.4%;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #1F2125;
}

.hotline span {
    color: #1464f4;
}